body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://img.freepik.com/vetores-gratis/vista-superior-3d-de-um-mapa-com-ponto-de-localizacao-de-destino-vista-aerea-limpa-superior-do-mapa-da-cidade-durante-o-dia-com-rua-e-rio-mapa-urbano-em-branco-conceito-de-navegador-de-mapa-gps_34645-1098.jpg?w=900);
  background-size: cover;
}
